html{
    margin: 0 !important;
    padding: 0 !important;
}
body{
	--color-primary-light2: #DFE8F3;
	--color-primary-light1: #B1C5DD;
	--color-primary: #819DBF;
	--color-primary-hard1: #56779F;
	--color-primary-hard2: #365A84;

	--color-secondary-light2: #DEF5EA;
	--color-secondary-light1: #B1E2C9;
	--color-secondary: #81C8A4;
	--color-secondary-hard1: #56AA7F;
    --color-secondary-hard2: #338E60;
    
    margin: 0 !important;
    padding: 0 !important;
}

.top--nav--color{
    background-color: var(--color-primary-light2);
}
.top-nav--logo-a--sizing{
    width: 330px; height: 100%;
}
.top-nav--logo-img--sizing{
    width: 100%; height: 100%;
}
.dropdown--drop--positioning{
    top: unset !important;
    left: unset !important;
}

/* Sidenav */
.my-sidenav{
	top: 56px !important;
	height: calc(100% - 56px) !important;
	/* FFFF background-color: var(--color-ternary2); */
    background-color: white !important;
}
.my-sidenav li>a{
	color: var(--color-primary-hard2)!important;
}
.my-sidenav li>a>i{
    color: var(--color-primary-hard2)!important;
}

.topnaved{
	top: 56px;
	height: calc(100% - 56px);
}

.user-background{
	width: 500px;
	height: 300px;
	/* FFFF background-color: var(--color-secondary4); */
	background-color: var(--color-primary-hard2);
}
.user-view > a > span{
    color: white !important;
}
.user-image{
	/* FFFF background-color: var(--color-ternary3); */
	background-color: var(--color-ternary2);
}

@media screen and (min-width: 600px){
	.topnaved{
		top: 64px!important;
		height: calc(100% - 64px)!important;
	}
}
@media screen and (max-width: 993px){
	.my-sidenav{
		top: 0!important;
		height: 100%!important;
	}
	.sidenaved{
		padding-left: 0;
	}
}
/* End Sidenav */

.sidenaved{
	padding-left: 300px;
	width: 100%;
}


.login--background{
    
}

.login--container{
    margin-left: 5%;
}

.login--form{
    text-align: right;
}

.menu--container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.element--left-line{
    border-left: 4px solid var(--color-primary-hard1);
}

.element--background--black{
    
}